<div class="col-md-9 col-xl-8 pl-md-5 bd-content mb-5 offset-lg-1">
  <!-- Title and action buttons-->
  <div class="row py-2 pl-3">
    <div class="col">
      <h1 class="h4">
        {% if vars.page_title %}
          {{ vars.page_title|t }}
        {% elseif vars.blocked_users == 1 %}
          <i class="lni lni-users"></i>  {{ 'Blocked users'|t }}
        {% elseif vars.all_members == 1 %}
          <i class="lni lni-users"></i> {{ 'Active users'|t }}
        {% endif %}
      </h1>
    </div>
    <div class="col text-right">
      {% if vars.blocked_users == 1 %}
        <a class="btn btn-success btn-sm" href="{{ url('ol_members.all_members') }}">
          <i class="lni lni-users"></i> {{ 'Active users'|t }}
        </a>
      {% elseif vars.members_form and vars.can_add_members %}
        {# Add group members button #}
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addMembersModal">
          <i class="lni lni-plus"></i> {{ 'Add Members'|t }}
        </button>
      {% elseif vars.all_members == 1 %}
        <a class="btn btn-secondary btn-sm" href="{{ url('ol_members.all_members_blocked') }}">
          <i class="lni lni-users"></i> {{ 'Blocked users'|t }}
        </a>
      {% endif %}
    </div>
  </div>


<!-- Member cards -->
{% if vars.member_cards is not empty %}
  {{ vars.member_cards|raw }}
{% else %}
  {{ 'No results'|t }}
{% endif %}
<!-- / Member cards -->

{% if vars.members_form and vars.can_add_members %}
  <!-- Modal add member -->
  <div class="modal fade" id="addMembersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Add Members'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% if vars.members_form %}
          {{ vars.members_form }}
        {% else %}
          <div class="modal-body"><i>{{ 'Sorry, you\'re not allowed to add users'|t }}</i></div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- / Modal -->
{%  endif %}
</div>
