<!-- Action buttons -->
<div class="row title">
  <div class="col title">
    <h2>
      {% if vars.page_title %}
      {{ vars.page_title }}
      {% elseif vars.blocked_users == 1 %}
        {{ 'Blocked Users'|t }}
      {% elseif vars.all_members == 1 %}
        {{ 'Everybody'|t }}
      {% endif %}
    </h2>
  </div>
  <div class="col text-right">
    <div class="form-group">
      {% if vars.blocked_users == 1 %}
        <a class="btn btn-success" href="{{ url('ol_members.all_members') }}">
          <i class="fa fa-users"></i> {{ 'Active users'|t }}
        </a>
      {% elseif vars.members_form and vars.can_add_members %}
        {# Add group members button #}
        <button class="btn btn-success" data-toggle="modal" data-target="#addMembersModal">
          <i class="fa fa-plus"></i> {{ 'Add Group Members'|t }}
        </button>
      {% elseif vars.all_members == 1 %}
        <a class="btn btn-secondary" href="{{ url('ol_members.all_members_blocked') }}">
          <i class="fa fa-users"></i> {{ 'Blocked users'|t }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
<!-- / Action buttons -->

<!-- Member cards -->
{% if vars.member_cards is not empty %}
  {{ vars.member_cards|raw }}
{% else %}
  No results.
{% endif %}
<!-- / Member cards -->

{% if vars.members_form and vars.can_add_members %}
<!-- Modal add member -->
<div class="modal fade" id="addMembersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i> {{ 'Add Group Members'|t }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if vars.members_form %}
        {{ vars.members_form }}
      {% else %}
        <div class="modal-body"><i>{{ 'Sorry, you\'re not allowed to add users'|t }}</i></div>
      {% endif %}
    </div>
  </div>
</div>
<!-- / Modal -->

{#<!-- Modal remove member -->
<div class="modal fade" id="removeMembersModal" tabindex="-1" role="dialog" aria-labelledby="removeMembersModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'Remove Member'|t }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">{{ 'Yes, remove'|t }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'No, don\'t remove'|t }}</button>
      </div>
    </div>
  </div>
</div>
<!-- / Modal -->#}
{%  endif %}
