
<!-- POST  -->
<div class="card shadow-sm mb-4">

  <!-- POST BODY AREA-->
  <div class="card-body">
    <div class="media text-muted">
      <img class="rounded-circle mr-2" src="{{ vars.user_picture }}" alt="user tn" height="35">
      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
        <strong class="d-block text-gray-dark">
          <a href="/user/{{ vars.user_id }}/profile" class="username text-muted">{{ vars.username }}</a>
        </strong>
        <span class="text-muted small">{{ vars.created|date("D d-m-Y H:i") }}</span>
      </p>
      {% if vars.owner == TRUE %}
        <div class="float-right">
          <div class="dropdown">
            <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="lni lni-line-dotted"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2" >
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editPostModal_{{ vars.id }}">{{ 'Edit'|t }} </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <p class="card-text">{{ vars.body|raw }}</p>

  </div>
  {% if vars.files %}
    {{ vars.files|raw }}
  {% endif %}
  <!-- END POST BODY AREA-->

  <!-- POST FOOTER -->
  <div class="card-footer text-muted">

    <!-- LIKE AREA-->
    {{ vars.like_button }}
    <!-- END LIKE AREA-->

    <!-- COMMENT AREA-->
    <div class="comment-container mt-3" id="comment-container-{{ vars.id }}">
      {{ vars.comment_items|raw }}
    </div>
    <div class="post-comment-form-wrapper mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mr-2">
            <img class="rounded-circle" src="{{ vars.current_user_picture }}" alt="" height="25">
          </div>
          <div>
              {{ vars.post_comment_form|raw }}
          </div>
        </div>
      </div>
    </div>
    <!-- END COMMENT AREA-->
  </div>
  <!-- END POST FOOTER -->
</div>
<!-- END POST -->

{% if vars.owner == TRUE %}
  <!-- Post edit modal -->
  <div class="modal fade bd-example-modal-lg" id="editPostModal_{{ vars.id }}" role="dialog" aria-labelledby="editPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-edit"></i> {{ 'Edit post'|t }}  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{ vars.post_edit_form }}
      </div>
    </div>
  </div>
  <!-- End post edit modal  -->
{% endif %}

