{# Yeah... this needs some chopping up, make it more modular / atomic #}
<!-- Heading -->
<div class="col-md-12 pl-md-5 bd-content mb-5">
  <div class="row py-2 pl-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="h4">{{ vars.page_title }}</h1>
        </div>
        <div class="col text-right">
          <button class="btn btn-success btn-sm" type="button"  data-toggle="modal" data-target="#textDoc">
            <i class="lni lni-plus"></i> {{ 'Add Book Page'|t }}
          </button>
        </div>
{#        <div class="col text-right">
          <button class="btn btn-success btn-sm" type="button" id="files-add-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="lni lni-plus"></i> {{ 'Add'|t }} <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="files-add-drop">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#textDoc"><i class="lni lni-plus"></i> {{ 'Add Book Page'|t }}</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addEditCategoryModal"><i class="lni lni-tag"></i> {{ 'Add Category'|t }}</a>
          </div>
        </div>#}
      </div>
    </div>
  </div>

  <div class="container text-docs-container">
    <div class="row">
      <!-- Left sidebar -->
      <div class="col-lg-3 categories mb-3">
        {# All Book pages #}
        <div class="list-group small">
          <a href="{{ vars.path }}?category=all" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between pb-2 pr-2">
              <h7><i class="lni lni-book"></i> {{ 'All Book Pages'|t }}</h7>
              <small><span class="badge badge-light badge-pill">{{ vars.total_textdocs_count }}</span></small>
            </div>
          </a>
        </div>
        {# Book pages Tree #}
        <div class="list-group mb-3 pr-2 bg-white">
          {{ vars.text_doc_tree|raw }}
        </div>
        {% if vars.can_order %}
        <div class="my-3 text-right">
          <button type="button" class="btn btn-light btn-sm text-muted" data-toggle="modal" data-target="#sortableContent">
            <i class="lni lni-move"> </i>  {{ 'Order pages'|t }}
          </button>
        </div>
        {% endif %}
      </div>

      <!-- Notebooks -->
      <div class="col-lg-9 p-3 card mb-4">
        <div class="row">
        {% if vars.textdocs is not empty %}
           {{ vars.textdocs|raw }}
        {% else %}
          <p class="text-muted small m-3">
            <i class="lni lni-bulb"></i> <i> {{ 'Be the first to add a book page.'|t }}</i><br />
          </p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Text-doc modal-->
  {# Manipulated by xyz.js #}
  <div class="modal fade modal-large" id="textDoc" tabindex="-1" role="dialog" aria-labelledby="textDoc" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Book page'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{ vars.text_doc_form }}
      </div>
    </div>
  </div>

  <!-- Order text-docs modal-->
  <div class="modal fade modal-large" id="sortableContent" tabindex="-1" role="dialog" aria-labelledby="sortableContent" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sortableContentHeader"><i class="lni lni-move text-black-50"> </i> {{ 'Order'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="sortable-text-docs">
            <div id="nestedDemo" class="list-group nested-sortable">
              {{ vars.sortable_modal_content|raw }}
            </div>
            <div id="sorted-message" class="text-success small mt-3 ml-3"></div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="{{ path('<current>') }}" class="btn btn-success">Done</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal add/edit category-->
  {# Manipulated by ol_text_docs.js #}
{#  <div class="modal fade" id="addEditCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addMessageModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-tag"></i> {{ 'Add Category'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          {{ vars.category_form }}
      </div>
    </div>
  </div>#}

  <!-- Modal remove file from category-->
  {# Manipulated by ol_text_docs.js #}
{#  <div class="modal fade" id="removeTextDocFromCategory" tabindex="-1" role="dialog" aria-labelledby="removeTextDocFromCategory" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Remove from category'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% trans %}
          <p>You are about to remove <b><span class="textdoc_name"></span></b> from category <b><span class="category_name"></span></b>. Are you sure?</p>
          {% endtrans %}
        </div>
        {{ vars.remove_from_category }}
      </div>
    </div>
  </div>#}

</div>
<!-- Remove cat modal-->
{{ vars.remove_category_html }}

