<div class="col-md-12 pl-md-5 bd-content mb-5">
  <div class="container text-docs-container">
    <div class="row">
      {# Left menu #}
      <div class="col-lg-3 mb-3">
        <div class="row py-2">
          <div class="col">
            <h1 class="h4">{{ 'Book'|t }}</h1>
          </div>
        </div>
        {# All Book pages #}
        <div class="list-group small">
          <a href="{{ vars.path }}?category=all" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between pb-2 pr-2">
              <h7><i class="lni lni-book"></i> {{ 'All Book Pages'|t }}</h7>
              <small><span class="badge badge-light badge-pill">{{ vars.total_textdocs_count }}</span></small>
            </div>
          </a>
        </div>
        {# Book pages Tree #}
        <div class="list-group mb-3 pb-2 pr-2 bg-white">
          {{ vars.text_doc_tree|raw }}
        </div>
        {# Order button #}
        {% if vars.can_order %}
        <div class="my-3 text-right">
          <button type="button" class="btn btn-light btn-sm text-muted" data-toggle="modal" data-target="#sortableContent">
            <i class="lni lni-move"> </i> {{ 'Order pages'|t }}
          </button>
        </div>
        {% endif %}

      </div>

      <div class="col-lg-9 mt-3">
        {# Notebook page #}
        <h4 class="mb-3 ml-3"><i class="lni lni-empty-file text-muted"></i> {{ vars.title }}</h4>
        <div class="card shadow-sm mb-4">
            {{ vars.text_doc|raw }}
        </div>
        {# Comments #}
        <div class="ml-5">
        {% if vars.comment_items|render|striptags|trim %}
          {{ vars.comment_items|raw }}
        {% endif %}
        </div>
        {# Comment form #}
        {# All this should move to CommentForm #}
        <div class="row">
          <div class="col-md-12">
            <div class="comment-wrapper add-comment card p-4">
              <div class="row">
                <div class="d-none d-sm-block col-1 write-comment-picture">
                  <img class="rounded-circle" src="{{ vars.current_user_picture }}" alt="" height="30">
                </div>
                <div class="col-sm-11">
                  {{ vars.comment_form }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# Remove cat modal #}
  {{ vars.remove_category_html }}
</div>

{% if vars.can_order %}
<!-- Order text-docs modal-->
<div class="modal fade modal-large" id="sortableContent" tabindex="-1" role="dialog" aria-labelledby="sortableContent" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sortableContentHeader"><i class="lni lni-move pr-1"></i> {{ 'Order pages'|t }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="sortable-text-docs">
          <div id="nestedDemo" class="list-group nested-sortable">
            {{ vars.sortable_modal_content|raw }}
          </div>
          <div id="sorted-message" class="text-success small mt-3 ml-3"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="{{ path('<current>') }}" role="button" class="btn btn-success">Done</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
