
<div class="row py-2 pl-3">
  <div class="col">
    <h1 class="h4">{{ 'Notebooks'|t }}</h1>
  </div>
  <div class="col text-right">
    <button class="btn btn-success btn-sm" type="button" id="files-add-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="lni lni-plus"></i> {{ 'Add'|t }} <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="files-add-drop">
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#textDoc"><i class="lni lni-plus"></i> {{ 'Add Notebook'|t }}</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addEditCategoryModal"><i class="lni lni-tag"></i> {{ 'Add Category'|t }}</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Categories -->
    <div class="col-lg-3 categories mb-3">
      <div class="list-group small">
        {% if vars.current_category == 'all' or vars.current_category is empty %}
          {% set active = 'active' %}
        {% endif %}
        <a href="{{ vars.path }}?category=all" class="list-group-item list-group-item-action flex-column align-items-start {{ active }}">
          <div class="d-flex w-100 justify-content-between ">
            <h7>{{ 'All Notebooks'|t }}</h7>
            <small><span class="badge badge-light badge-pill">{{ vars.total_textdocs_count }}</span></small>
          </div>
        </a>
      </div>
      <div class="list-group category-left">
        <ul class="list-group small">
          {% for category in vars.categories %}
            {# Nasty active styling for now :s #}
            {% if vars.current_category == category.id  %}
              {% set class = 'active' %}
            {% else %}
              {% set class = 'text-muted' %}
            {% endif %}
            <li class="list-group-item d-flex justify-content-between align-items-center {{ class }}">
              <a href="{{ vars.path }}?category={{ category.id }}" class="category-link {{ class }}">
                {% if vars.current_category ==  category.id %}
                  <i class="lni lni-tag"></i>
                {% else %}
                  <i class="lni lni-tag"></i>
                {% endif %}
                {{ category.name }}
              </a>
              {% if category.can_admin %}
                <button class="btn btn-link p-0" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="lni lni-line-dotted"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ol-drop2">
                  <button class="dropdown-item" data-toggle="modal" data-target="#addEditCategoryeModal" data-name="{{ category.name }}" data-category_id="{{ category.id }}">
                    <i class="lni lni-pencil"></i> {{ 'Rename Category'|t }}
                  </button>
                  <button class="dropdown-item" data-toggle="modal" data-target="#removeCategory"
                          data-category_name="{{ category.name }}"
                          data-category_id="{{ category.id }}"
                  ><i class="lni lni-close"></i> {{ 'Remove Category'|t }}</button>
                </div>
              {% endif %}
              <small><span class="badge badge-light badge-pill">{{ category.count_files }}</span></small>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> <!-- / Categories -->

    <!-- Notebooks -->
    <div class="col-lg-9">
      <h4 class="mb-3 ml-3"><i class="lni lni-book text-muted"></i> {{ vars.title }}</h4>
      <div class="card shadow-sm mb-4">
          {{ vars.text_doc|raw }}
      </div>
      <div class="ml-5">
      {% if vars.comment_items|render|striptags|trim %}
        <!-- Comment items -->
        {{ vars.comment_items|raw }}
      {% endif %}
      </div>
      <!-- Comment form -->
      {#  All this should move to CommentForm #}
      <div class="row">
        <div class="col-md-12">
          <div class="comment-wrapper add-comment card p-4">
            <div class="row">
              <div class="d-none d-sm-block col-1 write-comment-picture">
                <img class="rounded-circle" src="{{ vars.current_user_picture }}" alt="" height="30">
              </div>
              <div class="col-sm-11">
                {{ vars.comment_form }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / Row -->
</div><!-- / Container -->
<!-- Remove cat modal-->
{{ vars.remove_category_html }}
