{#
/**
* @file
* Theme implementation to display block with groups in left sidebar.
*
* @ingroup themeable
*/
#}
<ul class="list-unstyled components groups">
  <h2 class="your-groups"><i class="{{ vars.icon_class }}"> </i> {{ vars.block_header }}
    <button class="btn btn-link dropdown-toggle" type="button" id="groups-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="groups-drop">
      <button class="dropdown-item" data-toggle="modal" data-target="#addGroupModal"
        data-type="{{ vars.type }}"
        data-label="{{ vars.label }}"
      >
        <i class="lni lni-plus"></i>
        {% trans %}
        Add {{ vars.label }}
        {% endtrans %}
      </button>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/groups/archived"><i class="lni lni-archive"></i>{{ 'Archived'|t }}</a>
    </div>
  </h2>
  {# Nasty active styling for now #}
  {% for group in vars.groups  %}
    {% if group.id == vars.active_gid %}
      {% set active="active" %}
    {% else %}
      {% set active="" %}
    {% endif %}
  <li class="{{ active }}">
    <a href="/group/{{ group.id }}/{{ group.landing }}">{{ group.name }}
      {% if group.non_chat_count %}
        <span class="badge badge-danger"> {{ group.non_chat_count }}</span>
      {% endif %}
      {% if group.chat_count %}
      <span class="badge badge-info"><i class="fas fa-comment"></i>{{ group.chat_count }}</span>
      {% endif %}
    </a>
  </li>
  {% endfor %}
  {% if vars.groups is empty %}
  <li>
    <a href="#" data-toggle="modal" class="add-first" data-target="#addGroupModal"
       data-type="{{ vars.type }}"
       data-label="{{ vars.label }}"
    >
    <i class="lni lni-plus"></i>
      {% trans %}
        Add first {{ vars.label }}
      {% endtrans %}
    </a></li>
  {% endif %}
</ul>
