<!--- Comment-->
<div class="media text-muted pt-1">
  <img class="rounded-circle mr-2 mt-1" src="{{ vars.user_picture }}" alt="User picture" height="25">
  <p class="media-body pb-1 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">
      <a href="/user/{{ vars.user_id }}/profile" class="username text-muted">{{ vars.username }}</a>
      <span class="badge badge-pill badge-light text-muted">{{ vars.created }}</span>
      {% if vars.owner == TRUE %}
      <span class="dropdown">
          <button class="btn btn-link p-0" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="lni lni-line-dotted"></i>
          </button>
          <span class="dropdown-menu dropdown-menu-left" aria-labelledby="ol-drop2" >
            {% if vars.is_task_comment == true %}
            <a class="dropdown-item drop-down-edit-comment" href="#" data-comment_id="{{ vars.comment_id }}" ><i class="lni lni-pencil"></i> {{ 'Edit'|t }}</a>
            {% else %}
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal_{{ vars.comment_id }}">{{ 'Edit'|t }}</a>
            {% endif %}
          </span>
        </span>
      {% endif %}
    </strong>
    {% if vars.is_task_comment %}
      <span class="body-text" id="body-text-id_{{ vars.comment_id }}">{{ vars.body|raw }}</span>
    {% else %}
      <span class="body-text" id="body-text-id_{{ vars.comment_id }}">{{ vars.body|striptags('<a><br>')|raw }}</span>
    {% endif %}
  </p>

</div>

{% if vars.owner == TRUE %}
  {% if vars.is_task_comment == true %}
  <form class="comment-static-form hidden ml-4" id="edit-comment-limbo-form-id_{{ vars.comment_id }}">
    <div class="form-row">
      <div class="col-8 small">
        <textarea class="form-control text-muted small" id="textarea-comment-id_{{ vars.comment_id }}">{{ vars.body|striptags('<br>')|raw }}</textarea>
      </div>
      <div class="col-2">
        <button id="save-comment-{{ vars.comment_id }}" class="btn btn-success btn-sm save-comment-limbo form-control" data-comment_id="{{ vars.comment_id }}">{{ 'Save'|t }}</button>
      </div>
      <div class="col-2">
        <button class="btn btn-light btn-sm form-control cancel-comment-edit" data-comment_id="{{ vars.comment_id }}">{{ 'Cancel'|t }}</button>
      </div>
    </div>
  </form>
  {% else %}
  <!-- Modal edit comment -->
  <!-- TODO: inline edit to all comments, now only for task in modal. -->
  <div class="modal fade" id="editCommentModal_{{ vars.comment_id }}"  role="dialog" aria-labelledby="editMessageLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ 'Edit comment:'|t }} {{ vars.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ vars.edit_form }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- / Modal edit comment -->
{% endif %}
<!-- Files -->
{% if vars.files %}
  <div class="files_wrapper small ml-4 pl-2">
    {{ vars.files|raw }}
  </div>
{% endif %}
