
{# POST image #}
{% if vars.post_image %}
  <img alt="Image" class="card-img-bottom" src="{{ vars.thumbnail_url }}" />
  {% if vars.owner == TRUE %}
    <div>
    <button class="btn btn-link dropdown-toggle" type="button" id="ol-drop-{{ vars.ol_fid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ol-drop-{{ vars.ol_fid }}">
      <button class="dropdown-item" data-toggle="modal" data-target="#removeFile"
              data-name="{{ vars.filename }}"
              data-ol_fid="{{ vars.ol_fid }}"
              data-file_type="{{ vars.file_type }}">
        <i class="lni lni-close"></i> {{ 'Remove File'|t }}</button>
    </div>
    </div>
  {% endif %}

{# Everywhere else image #}
{% else %}
  <li class="media">
    {#  <a id="file_id_{{ vars.file_id }}"></a>#}
    <a href="{{ vars.url }}" class="pull-left" target="_blank">
      {% if vars.thumbnail_url %}
        <img alt="Image" class="img-fluid rounded attached-file" src="{{ vars.thumbnail_url }}" />
      {% else %}
        <div class="h5 pt-1 px-1 mr-1"><i class="lni lni-paperclip"></i></div>
      {% endif %}
    </a>
    <div class="media-body">
      {% if vars.big_image == false %}
        <span class="text-muted filename">
      <a href="{{ vars.url }}" target="_blank"> {{ vars.filename }}</a>
    </span>
        <span class="badge badge-light">{{ vars.file_size }}</span>
      {% endif %}
      {% if vars.owner == TRUE %}
        <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="lni lni-line-dotted"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
          <button class="dropdown-item" data-toggle="modal" data-target="#removeFile"
                  data-name="{{ vars.filename }}"
                  data-ol_fid="{{ vars.ol_fid }}"
                  data-file_type="{{ vars.file_type }}">
            <i class="lni lni-close"></i> {{ 'Remove File'|t }}</button>
        </div>
      {% endif %}
    </div>
  </li>
{% endif %}


