<li class="media">
{#  <a id="file_id_{{ vars.file_id }}"></a>#}
  <a href="{{ vars.url }}" class="pull-left" target="_blank">
    {% if vars.thumbnail_url %}
      <img alt="" class="img-fluid rounded attached-file" src="{{ vars.thumbnail_url }}" />
    {% else %}
      <span class="file_icon"><i class="fas fa-file"></i></span>
    {% endif %}
  </a>
  <div class="media-body">
    {% if vars.big_image == false %}
    <span class="text-muted filename">
      <a href="{{ vars.url }}" target="_blank"> {{ vars.filename }}</a>
    </span>
    <span class="badge badge-light">{{ vars.file_size }}</span>
    {% endif %}
    {% if vars.owner == TRUE %}
    <button class="btn btn-link dropdown-toggle" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
      <button class="dropdown-item" data-toggle="modal" data-target="#removeFile"
              data-name="{{ vars.filename }}"
              data-ol_fid="{{ vars.ol_fid }}"
              data-file_type="{{ vars.file_type }}">
        <i class="fas fa-times"></i> {{ 'Remove File'|t }}</button>
    </div>
    {% endif %}
  </div>
</li>
