
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-3" href="{{ url('<front>') }}"><i class="lni lni-spiner-solid "></i> Lucius</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

{% if logged_in %}
  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url('<front>') }}">Home{# <span class="sr-only">(current)</span>#}</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Groups</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
          <input class="form-control mb-2 project-filter" id="myInput" type="text" placeholder="Search..">
          {% for group in vars.groups  %}
            <li>
              <a class="dropdown-item" href="{{ base_path }}group/{{ group.id }}/{{ group.landing }}">{{ group.name }}
                {% if group.non_chat_count %}
                  <span class="badge badge-danger"> {{ group.non_chat_count }}</span>
                {% endif %}
                {% if group.chat_count %}
                  <span class="badge badge-info"><i class="lni lni-comments"></i> {{ group.chat_count }}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
          <li class="nav-item"><hr class="border-top"></li>
          <li><a class="dropdown-item" href="{{ url('ol_main.group_archived') }}"><i class="lni lni-archive"></i> {{ 'Archived'|t }}</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('ol_members.all_members') }}">People</a>
      </li>
{#      <li class="nav-item">
        <a class="nav-link" href="#todo">Everything</a>
      </li>#}
    </ul>

    <!-- main nav right-->
    <ul class="navbar-nav">
      <!-- Add group button -->
{#      <li class="nav-item mr-3">
        <a class="nav-link" href="#todo">
          <i class="lni lni-search-alt"></i>
        </a>
      </li>#}
      <li class="nav-item dropdown plus-dropdown mr-3">
        <a class="nav-link dropdown-toggle" href="#todo" id="navbarDropdownMenuPlus" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="lni lni-plus"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuPlus">
          <a class="dropdown-item" href="{{ url('ol_main.add_group') }}"><i class="lni lni-users"></i> Add Group</a>
        </div>
      </li>
      <!-- User drop down -->
      <li class="nav-item dropdown mr-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ vars.user_picture }}" width="24" height="24" class="rounded-circle mr-1">
          {{ vars.username|length > 13 ? vars.username|slice(0, 13) ~ '..' : vars.username  }}
        </a>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ url('entity.user.edit_form', {'user': vars.uid} ) }}"><i class="lni lni-user"></i> Manage My Profile</a>
          <a class="dropdown-item" href="{{ url('ol_stream.user', {'uid': vars.uid} ) }}"><i class="lni lni-timer"></i> My Activity</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url('user.logout') }}"><i class="lni lni-exit"></i> Log Out</a>
        </div>
      </li>
    </ul>
  </div>
{% endif %}
</nav>

{#
<!-- Add group Modal -->
<div class="modal fade" id="addGroupModal"  role="dialog" aria-labelledby="addGroupModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Add new group'|t }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ vars.add_group_form }}
    </div>
  </div>
</div>
<!-- / Modal -->
#}
