{#
/**
* @file
* Block that shows sections in header within groups.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}


<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    {% for section in vars.sections %}
      {# Nasty active styling for now #}
      {# Link building also needs attention #}
      {% if section.path == vars.active_section %}
        {% set active = 'active' %}
      {% else %}
        {% set active = '' %}
      {% endif %}
      <a class="nav-link {{ active }}" href="{{ base_url }}/group/{{ vars.gid }}/{{ section.path }}">
        {{ section.label }}
        <span class="badge badge-light align-top">{{ section.badge_count }}</span>
      </a>
    {% endfor %}
  </nav>
</div>
