<!-- Title -->
<div class="row title">
  <div class="col-lg-12">
    <h2><i class="fas fa-file-alt"></i> {{ vars.title }}</h2>
  </div>
</div>
<!-- / Title -->
<!-- Message-->
{{ vars.text_doc|raw }}
<!-- / Message -->
<hr />
<!-- Comments -->
<div class="row">
  <div class="col-md-12">
    <div class="comment-wrapper">
      <div class="panel panel-info">
        <div class="panel-body">
          {% if vars.comment_items|render|striptags|trim %}
            <ul class="media-list">
              <!-- Comment items -->
              {{ vars.comment_items|raw }}
              <!-- / Comment items-->
            </ul>
          {% else %}
            <div class="row h-100">
              <div class="col-md-8 my-auto">
                <p>
                  <i>{{ 'Be the first to comment.'|t }}</i>
                </p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Comments -->
<hr />
<!-- Comment form -->
{#  All this should move to CommentForm #}
<div class="row">
  <div class="col-md-12">
    <div class="comment-wrapper add-comment card">
      <h4 class="title">{{ 'Add comment'|t }}</h4>
      <div class="panel panel-info">
        <div class="panel-body">
          <div class="row">
            <div class="d-none d-sm-block col-1 write-comment-picture">
              <img class="rounded-circle" src="{{ vars.current_user_picture }}" alt="" height="30">
            </div>
            <div class="col-sm-11">
              {{ vars.comment_form }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Comment form -->
