{# Yeah... this needs some chopping up, make it more modular / atomic #}
<!-- Heading -->
<div class="col-md-12 col-xl-11 pl-md-5 bd-content mb-5">
  <div class="row py-2 pl-3">
    <div class="col">
      <h1 class="h4">{{ vars.page_title }}</h1>
    </div>
    <div class="col text-right">
      <button class="btn btn-success btn-sm" type="button" id="files-add-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="lni lni-plus"></i> {{ 'Add'|t }} <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="files-add-drop">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addMessageModal"><i class="lni lni-upload"></i> {{ 'Upload Files'|t }}</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addEditFoldereModal"><i class="lni lni-folder"></i> {{ 'Add Folder'|t }}</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- Folders -->
      <div class="col-lg-3 folders mb-3">
        <div class="list-group small">
          {% if vars.current_folder == 'all' %}
            {% set active = 'active' %}
          {% endif %}
          <a href="{{ vars.path }}?folder=all" class="list-group-item list-group-item-action flex-column align-items-start {{ active }}">
            <div class="d-flex w-100 justify-content-between ">
              <h7>{{ 'All Files'|t }}</h7>
              <small><span class="badge badge-light badge-pill">{{ vars.total_files_count }}</span></small>
            </div>
          </a>
        </div>
        <div class="list-group folder-left">
          <ul class="list-group small">
            {% for folder in vars.folders %}
              {# Nasty active styling for now :s #}
              {% if vars.current_folder ==  folder.id  %}
                {% set class = 'active' %}
              {% else %}
                {% set class = 'text-muted' %}
              {% endif %}
                <li class="list-group-item d-flex justify-content-between align-items-center {{ class }}">
                  <a href="{{ vars.path }}?folder={{ folder.id }}" class="folder-link {{ class }}">
                    {% if vars.current_folder ==  folder.id %}
                      <i class="lni lni-folder"></i>
                    {% else %}
                      <i class="lni lni-folder"></i>
                    {% endif %}
                    {{ folder.name }}
                  </a>
                    {% if folder.can_admin %}
                      <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="lni lni-line-dotted"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ol-drop2">
                          <button class="dropdown-item" data-toggle="modal" data-target="#addEditFoldereModal" data-name="{{ folder.name }}" data-folder_id="{{ folder.id }}">
                            <i class="lni lni-pencil"></i> {{ 'Rename Folder'|t }}
                          </button>
                        <button class="dropdown-item" data-toggle="modal" data-target="#removeFolder"
                                data-folder_name="{{ folder.name }}"
                                data-folder_id="{{ folder.id }}"
                        ><i class="lni lni-close"></i> {{ 'Remove Folder'|t }}</button>
                      </div>
                    {% endif %}
                  <small><span class="badge badge-light badge-pill">{{ folder.count_files }}</span></small>
                </li>
            {% endfor %}
          </ul>
        </div>
        {% if vars.org_member == true %}
          <div class="manage-folder text-right">
            {% if vars.folders is empty %}
              <button type="button" class="btn btn-light text-muted" data-toggle="modal" data-target="#addFoldereModal"><i class="lni lni-plus"></i> {{ 'Add First Folder'|t }}</button>
            {% else %}
              <button type="button" class="btn btn-light text-muted" data-toggle="modal" data-target="#addFoldereModal"><i class="lni lni-plus"></i> {{ 'Folder'|t }}</button>
              <button type="button" class="btn btn-light text-muted" data-toggle="modal" data-target="#manageFoldersModal"> {{ 'Manage Folders'|t }}</button>
            {% endif %}
          </div>
        {% endif %}
      </div> <!-- / Folders -->

      <!-- Files -->
      <div class="col-lg-9 p-3 card shadow-sm mb-4">
      <div class="small">
        {% if vars.files is not empty %}

             {{ vars.files|raw }}
        {% else %}
          <p class="text-muted m-3">
            <i class="lni lni-bulb"></i> <i> {{ 'Be the first to add files.'|t }}</i><br />
          </p>
        {% endif %}
      </div> <!-- / Files -->
      </div>
    </div> <!-- / Row -->
  </div><!-- / Container -->

  <!-- Modal add files -->
  <div class="modal fade bd-example-modal-lg" id="addMessageModal" role="dialog" aria-labelledby="addMessageModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Add Files'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          {{ vars.file_form }}
      </div>
    </div>
  </div>
  <!-- / Modal add files -->

  <!-- Modal add/edit folder-->
  {# Manipulated by ol_files.js #}
  <div class="modal fade" id="addEditFoldereModal" tabindex="-1" role="dialog" aria-labelledby="addMessageModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Add Folder'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          {{ vars.folder_form }}
      </div>
    </div>
  </div>
  <!-- / Modal add folder  -->

  <!-- Modal remove file from folder-->
  {# Manipulated by ol_files.js #}
  <div class="modal fade" id="removeFileFromFolder" tabindex="-1" role="dialog" aria-labelledby="removeFileFromFolder" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Remove from folder'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to remove <b><span class="file_name"></span></b> from folder <b><span class="folder_name"></span></b>. Are you sure?</p>
        </div>
        {{ vars.remove_from_folder }}
      </div>
    </div>
  </div>
  <!-- / Modal remove file from folder  -->

  <!-- Text-doc modal-->
  {# Manipulated by xyz.js #}
  <div class="modal fade modal-large" id="textDoc" tabindex="-1" role="dialog" aria-labelledby="textDoc" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Notebook'|t }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{ vars.text_doc_form }}
      </div>
    </div>
  </div>
  <!-- / Text-doc modal  -->
</div>
